.headerNav{
    border-radius: 4px;
    margin-top: 32px;
    box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.1);
    justify-content: space-between;
    height: 53px;
    ul{
        gap:20px;
        li{
            list-style: none;
            color:#6B7280;
            svg{
                margin-right: 3px;
            }
        }
    }
}